extends ../layout

block content
  include ../partials/flash-messages
  h1 #{t('home.author')}: #{author.firstName} #{author.familyName}
  p #[strong #{t('home.book')} ] 
  if authorBooks.length !== 0
    each val, index in authorBooks
      a(href=`/books/${val.id}`) #{val.title}
      p #{val.summary}
  else
    p #{t('book.title.emptyBookList')}
  hr
  p
    a(href=`${author.id}/delete`) #{t('button.delete')}

