extends ../layout

block content 
  h1 #{t(title)}: #{genre.name}
  if genreBooks.length
    p #[strong #{t('genre.deleteWarning')} ]
    div.mt-5.ml-5
      h4 #{t('home.book')}
      dl
        each book in genreBooks
          dt
            a(href=`/books/${book.id}`) #{book.title}
          dd #{book.summary}
  else
    p #{t('genre.deleteConfirm')}
    form(method='POST')
      div.form-group
        input#genreid.form-control(type='hidden', name='genreid', value=genre.id )
        button.btn.btn-primary(type='submit') #{t('button.delete')}
    if errors
      ul
        for error in errors
          li!= error.msg
