extends ../layout

block content
  include ../partials/flash-messages
  h1 #{t(title)}
  if books.length
    ul
      each book in books
        li
          a(href=`/books/${book.id}`) #{book.title}
          | (#{book.author.firstName + ' '+ book.author.familyName})

  else
    p #{t('book.title.emptyBookList')}
