extends ../layout

block content 
  h1 #{t(title)}
  if bookInstances.length
    ul
      each bookInstance in bookInstances
        li
          a(href=`/bookinstances/${bookInstance.id}`) #{bookInstance.imprint} 
          | - 
          if bookInstance.status === BOOK_INSTANCE_STATUS.AVAILABLE
              span.text-green #{t('bookInstance.status.available')} 
          else if bookInstance.status === BOOK_INSTANCE_STATUS.MAINTENANCE
              span.text-red #{t('bookInstance.status.maintenance')} 
          else if bookInstance.status === BOOK_INSTANCE_STATUS.LOANED
              span.text-orange #{t('bookInstance.status.loaned')} 
          else
               #{t('bookInstance.status')}
          | ( #{bookInstance.dueBack ? new Date(bookInstance.dueBack) : ''})
  else
    p #{t('bookInstance.title.emptyBookInstanceList')}
